* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  background-image: url("../images/photo-1573152958734-1922c188fba3.jpg");
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Arial;
  background-color: rgba(0, 0, 0, .8); 
}

header {
  background-image: url(../images/black_white_piano_display.jpg);
  border: 3px ridge silver;
  }
h1 {
  font-size: 300%;
  color: orange;
  text-align: center;
  text-shadow: 1px 1px 1px yellow, -1px -1px 1px red, -1px 1px 1px #FF0000, 1px -1px 1px #FF0000;
}
header h2{
  
  font-size: 500%;
  font-variant: small-caps;
  color: orange;
  text-shadow: 1px 1px 1px yellow, -1px -1px 1px red, -1px 1px 1px #FF0000, 1px -1px 1px #FF0000;
 
  background-attachment: fixed;
  text-align: center;
}
header h3{
    font-size: 150%;
  }


header a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
  float: left;
}

#logoimage {
  float: left;
  max-width: 200px;
  width: 100%;
  margin: 10px 2em;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
    max-width: 450px;
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 15px;
    border: 3px outset silver;
}

footer {
  background-image: url("../images/black_white_piano_display.jpg");
  padding: 30px 0;
  border-top: 3px ridge silver;
  border: 3px ridge silver;
}

footer p {
  text-align: center;
  font-size: 80%;
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
} 

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    max-width: 100%;
  }
}